<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/img/user.jpg" alt="User Image" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <img src="assets/img/logo.png" alt="Platzi Logo" height="32px" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <agm-map
    [latitude]="currentCenter.lat"
    [longitude]="currentCenter.lng"
    [zoom]="14"
  >
    <agm-polyline [strokeColor]="'red'">
      <agm-polyline-point
        *ngFor="let coords of coordinates"
        [latitude]="coords.lat"
        [longitude]="coords.lng"
      >
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
</ion-content>
