<ion-split-pane >
  <ion-menu contentId="content" side="end">
    <ion-header mode="md">
      <ion-toolbar color="success">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-button icon-only (click)="closeMenu()">
            <ion-icon name="md-arrow-back" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content padding color="primary">
      <ion-list color="primary" lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item
            [routerLink]="p.url"
            routerDirection="root"
            [class.active-item]="selectedPath.startsWith(p.url)"
            color="primary"
            lines="none"
          >
            <ion-label>
              {{ p.title }}
            </ion-label>
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-item tappable color="success" lines="none" (click)="logout()">
          <ion-icon name="log-out" color="primary" slot="start"></ion-icon>
          Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
