<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sports">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Deportes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
