<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-avatar class="header-avatar">
        <img src="assets/img/user.jpg" alt="User Image" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <img src="assets/img/logo.png" alt="Platzi Logo" height="32px" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
  ></ion-searchbar>
  <div *ngIf="searching" class="spinner-container" text-center>
    <ion-spinner></ion-spinner>
  </div>
  <ion-virtual-scroll [items]="items" approxItemHeight="50px">
    <ion-item *virtualItem="let item">
      {{ item.name }}
      <ion-icon
        *ngIf="!item.playing"
        name="play"
        slot="end"
        (click)="play(item)"
      ></ion-icon>
      <ion-icon
        *ngIf="item.playing"
        name="pause"
        slot="end"
        (click)="pause(item)"
      ></ion-icon>
      <ion-spinner *ngIf="item.playing" name="dots" slot="end"></ion-spinner>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
