.album-avatar {
  width: 90px;
  height: 120px;
}
.square-avatar {
  --border-radius: 0;
}
ion-slide {
  margin: 0 20px 0 20px;
  font-size: 12px;
}
h1 {
  font-size: 18px;
  color: var(--ion-color-success);
  margin-top: 30px;
}
ion-icon {
  font-size: 26px;
}
.time-marker {
  color: gray;
  font-size: 10px;
}
ion-progress {
  margin-bottom: 10px;
}
h2 {
  font-size: 16px;
  margin-top: 3px;
}
ion-footer {
  box-shadow: grey 10px 10px 10px 10px;
}

.swiper-slide img {
  height: 90px;
}
