ion-avatar {
  width: 90px;
  height: 120px;
}
.square-avatar {
  --border-radius: 0;
}
ion-slide {
  margin: 0 20px 0 20px;
  font-size: 12px;
}
h1 {
  font-size: 18px;
  color: var(--ion-color-success);
  margin-top: 30px;
}
