<ion-header padding>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToLoginPage()">
        <ion-icon name="md-arrow-back" size="large" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <figure text-center>
    <img src="assets/img/logo.png" alt="Platzi Logo" width="100px" />
  </figure>
  <form
    class="form"
    [formGroup]="validations_form"
    (ngSubmit)="tryRegister(validations_form.value)"
  >
    <ion-item>
      <ion-label position="floating" color="success">Nombre</ion-label>
      <ion-input type="text" formControlName="firstname"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.firstname">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('firstname').hasError(validation.type) &&
            (validations_form.get('firstname').dirty ||
              validations_form.get('firstname').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="success">Apellido</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.lastname">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('lastname').hasError(validation.type) &&
            (validations_form.get('lastname').dirty ||
              validations_form.get('lastname').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="success">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('email').hasError(validation.type) &&
            (validations_form.get('email').dirty ||
              validations_form.get('email').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="success">Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        class="form-controll"
        required
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('password').hasError(validation.type) &&
            (validations_form.get('password').dirty ||
              validations_form.get('password').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button
      shape="round"
      class="submit-btn button-block"
      color="success"
      type="submit"
      [disabled]="!validations_form.valid"
      >Register</ion-button
    >
    <label class="error-message">{{ errorMessage }}</label>
    <label class="success-message">{{ successMessage }}</label>
  </form>
</ion-content>
