<ion-header>
  <ion-toolbar color="success">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goHome()">
        <ion-icon name="md-arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <div *ngIf="user" class="success-background">
    <ion-avatar (click)="takePicture()">
      <img [src]="userImage" alt="User Image" *ngIf="!photo" />
      <img [src]="photo" alt="User Image" *ngIf="photo" />
    </ion-avatar>
    <h1 text-center>{{ user.firstname + " " + user.lastname }}</h1>
    <h2 text-center>{{ user.email }}</h2>
    <ion-grid>
      <ion-row align-items-center text-center class="row-header">
        <ion-col>140</ion-col>
        <ion-col>2k</ion-col>
        <ion-col>500</ion-col>
      </ion-row>
      <ion-row align-items-center text-center>
        <ion-col>Artistas</ion-col>
        <ion-col>Seguidores</ion-col>
        <ion-col>Canciones</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list lines="none" color="primary">
    <ion-item>
      Cuenta
    </ion-item>
    <ion-item>Favoritos</ion-item>
    <ion-item>Playlists</ion-item>
    <ion-item>Deportes</ion-item>
    <ion-item>Localidades</ion-item>
    <ion-item>Tracking</ion-item>
  </ion-list>
</ion-content>
